//Colores de la navegación
$background-navbar: #E7E7E7;
$color-navbar: #827E7E;
$color-navbar-hover:#5F5B5B;
$border-navbar: #959393;


//Colores generales
$color-black: #000000;
$color-white: #FFFFFF;


//Colores de los tabs en paneles
$color-tab: #777777;
$background-tab: #DDDDDD;
$color-tab-hover: #555555;