.login {
	position: relative;

	.container-fluid {
		margin: 0;
		padding: 0;
	}

	.background {
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		position: absolute;
		width: 100%;
		overflow: hidden;
	}

	.panel {
		margin-top: calc(50% - 115px);
	}
}