<nav class="navbar-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-5 col-md-4">
                <button class="sidebar-mobile hidden-md hidden-lg pull-left" id="sidebar-mobile">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">VLDC</a>
            </div>
            <div class="col-xs-7 col-md-8">
                <div class="user">
                    <p class="navbar-text ">{{ request.user.username }} </p>
                </div>
            </div>
        </div>
    </div>
</nav>